#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define RT_MANIFEST                     24
#define CONTROL_PANEL_RESOURCE_ID       123

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST             "ResXpStylesTester.exe.manifest"
